.br-space {
  margin-bottom: 5px;
}
.body-spalva {
  background-color: rgb(255, 208, 199);
}
.body-spalva-v2 {
  background-color: rgb(219, 255, 235);
}
.body-spalva-v3 {
  background-color: rgb(246, 234, 255);
}
.body-spalva-v4 {
  background-color: rgb(255, 255, 234);
}
.button-v1 {
  width: 30%;
}
.button-v2 {
  width: 150px;
  background-color: thistle;
}
.button-v2:hover {
  background-color: rgb(255, 185, 255);
  cursor: pointer;
}
.button-v2:active {
  background-color: rgb(255, 185, 255);
  transform: translateY(4px);
}
.color-h1 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  margin-bottom: 100px;
}
.color-h1-v2 {
  text-align: center;
  font-size: 500%;
}
.div-v1 {
  text-align: center;
  margin: 5% 30% 10% 30%;
  padding: 2% 3% 2% 3%;
  border-radius: 30px;
  background-color: #ff0000;
  animation: bgColor 5s infinite linear;
}
.div-v2 {
  margin: 100px 15% 0 15%;
}
.div-v3 {
  width: 80%;
  background-color: white;
  margin: 5% auto 0 auto;
  padding-bottom: 5%;
}
.div-v4 {
  padding: 20px 2% 0 2%;
  box-align: left;
}
.div-v5 {
  width: 80%;
  height: auto;
  float: right;
}
/* 12 užduoties div'ai */
.div-all-four {
  display: block;
}
.div-v6 {
  width: 25%;
  float: left;
}
.div-v7 {
  /* width: 25%;
  float: center; */
  text-align: justify;
}
.div-v8 {
  /* width: 25%;
  float: center; */
  text-align: center;
}
.div-v9 {
  /* width: 25%;
  float: right; */
  text-align: right;
}
/* ----------------------- */
.h1-v1 {
  color: rgba(133, 0, 0, 0.322);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.h1-v2 {
  color: rgb(46, 0, 0);
  padding: 2% 0;
  text-align: center;
}
.h2-v1 {
  color: rgba(93, 97, 37, 0.37);
  font-family: fantasy;
}
.h3-v1 {
  color: rgb(0, 53, 97);
  font-family: sans-serif;
}
.h4-v1 {
  color: rgb(0, 85, 74);
  font-family: serif;
}
.h5-v1 {
  color: rgb(3, 95, 0);
  font-family: monospace;
}
.h6-v1 {
  color: rgb(88, 75, 0);
  font-family: "Times New Roman", Times, serif;
}
/* NORMALUS, STATINIS FONAS */
/* div {
  text-align: center;
  margin: 5% 30% 10% 30%;
  padding: 2% 3% 2% 3%;
  border-radius: 30px;
  border-style: solid;
  border-width: 2px;
  border-style: double;
  border-color: white;
  background-color: rgb(255, 228, 223);
} */
/* ČIA RAINBOW ANIMACIJA */
/* div {
  text-align: center;
  margin: 5% 30% 10% 30%;
  padding: 2% 3% 2% 3%;
  border-radius: 30px;
  background-color: #ff0000;
  animation: bgColor 5s infinite linear;
}
@keyframes bgColor {
  12.5% {
    background-color: #ff0000;
  }
  25% {
    background-color: #ffa500;
  }
  37.5% {
    background-color: #ffff00;
  }
  50% {
    background-color: #7fff00;
  }
  62.5% {
    background-color: #00ffff;
  }
  75% {
    background-color: #0000ff;
  }
  87.5% {
    background-color: #9932cc;
  }
  100% {
    background-color: #ff1493;
  }
} */
/* SPALVAS KEIČIANTIS LAUKELIS */
@keyframes bgColor {
  0% {
    background-color: rgb(255, 228, 223);
  }
  50% {
    background-color: rgb(255, 208, 199);
  }
  100% {
    background-color: rgb(255, 228, 223);
  }
}
.input-field {
  width: 50%;
  text-align: center;
}
.input-border {
  border-color: rgb(255, 178, 255);
}
.input-text-area {
  height: 30px;
}
.img-v11 {
  float: left;
  padding: 0 20px 0 30px;
  width: 20%;
}
.img-size-left {
  width: 150px;
  height: 200x;
  float: left;
  padding: 10px;
}
.img-size-right {
  width: 150px;
  height: 200x;
  float: right;
  padding: 10px;
}
.p-v1 {
  padding: 0 2%;
}
.p-spacing {
  padding: 10px;
}
.placeholder-text-align {
  vertical-align: text-top;
  text-align: left;
}
.space {
  margin-bottom: 10px;
}
