<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="GET" action="http://localhost:3000/query">
        <input type="text" placeholder="Name" name="name"> <br>
        <input type="text" placeholder="Surname" name="surname"> <br>
        <input type="text" placeholder="Address" name="address"> <br>
        <input type="tel" placeholder="Phone" name="tel"> <br>
        <input type="email" placeholder="E-mail" name="email"><br>
        <button type="submit">Submit form</button>
    </form>
</body>
</html>