body{
    background-color: rgb(242, 255, 183);
}
h1{
    color: darkgreen;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    margin: 1%;
}
.img1{
    width: 100px;
    height: 100px;
    float: left; 
}
.img2{
    width: 10%;
    height: 10%;
    float: right; 
}
div{
    text-align: center;
}