/* Oswald Font */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");
/* OpenSans Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.1;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #fff;
  color: #333;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.button {
  display: inline-block;
  text-transform: uppercase;
  color: #343434;
  background-color: #ffc401;
  font-weight: 700;
  font-size: 16px;
  border-radius: 3px;
  padding: 12px 25px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
  line-height: 20px;
}

.button:hover {
  background-color: #e0ac00;
  color: #fff;
}

.grey-button {
  background-color: #333333;
  color: #fff;
}

.grey-button:hover {
  background-color: #151515;
}

#header .navbar {
  background: rgba(30, 30, 30, 0.45);
  padding: 8px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#header .logo {
  float: left;
  padding-top: 20px;
}

#header .navigation {
  float: right;
}

#header .navigation > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#header .navigation > ul > li > a {
  display: block;
  padding: 0 15px;
  font-weight: 700;
  color: #fff;
  line-height: 60px;
  text-decoration: none;
  text-transform: uppercase;
}

#header .navigation > ul > li > a.active {
  color: rgb(103, 112, 194);
}

#header .navigation > ul > li > a:hover {
  color: rgb(134, 201, 255);
}

#intro {
  background-color: rgb(22, 66, 133);
  background-image: url("../img/pattern.png");
  min-height: 100vh;
  padding-top: 190px;
  padding-bottom: 140px;
}

#intro .intro-left,
#intro .intro-right {
  float: left;
  width: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

#intro .intro-text h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 75px;
  line-height: 85px;
  letter-spacing: 1px;
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 15px;
}

#intro .intro-text h3,
#about-3 .container h3,
#about-facts .container h3 {
  color: #fff;
  font-size: 34px;
  line-height: 34px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 20px;
}

#intro .intro-text p {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
}

#about {
  padding-top: 80px;
  padding-bottom: 120px;
}

#about .section-heading {
  text-align: center;
}

#about .section-heading h3 {
  color: #222;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

#about .section-heading h2,
#our-history h2 {
  color: #222;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}

#about .section-heading h2 span {
  border-bottom: 2px solid #ffc401;
  display: inline-block;
  padding-bottom: 15px;
}

#about .about-left,
#about .about-right {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

#about .about-left {
  width: 58.33333333%;
}

#about .about-right {
  width: 41.66666667%;
}

#about .tabs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#about .tabs ul li {
  border-right: 1px solid rgb(129, 129, 129);
}

#about .tabs ul li a {
  display: block;
  color: #222;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 25px;
}

#about .tabs ul li:first-child a {
  padding-left: 0;
}

#about .tabs ul li:last-child {
  border-right: none;
}

#about .tabs ul li.active a {
  color: #ffc400;
}

/*#about .tabs ul li:nth-child(1)*/
/*#about .tabs ul li:nth-child(2n)*/

#about .tabs .tab-content {
  font-size: 16px;
  line-height: 28px;
}
#about-2 {
  background-color: #f5f5f5;
}
#about-2 > .container {
  padding-top: 100px;
  padding-bottom: 550px;
  height: 600px;
}
#about-2 .container .about-2-img {
  float: left;
  width: 50%;
}
#about-2 .container .about-2-text {
  float: right;
  width: 50%;
}
#about-2 .container .about-2-text ul {
  list-style: none;
}
#about-2 .container .about-2-text a {
  text-decoration: none;
  font-weight: 400;
  text-transform: uppercase;
  color: #222;
  letter-spacing: 1px;
}
#about-2 .container .about-2-text h5 {
  font-weight: 400;
  font-size: 23px;
  color: rgb(68, 68, 68);
}
#about-2 .container .about-2-text h5:hover {
  color: #ffc400;
  transition: 0.3s;
}
#about-2 .container .about-2-text p,
#about-2 .container .left,
#about-2 .container .right,
#about-3 .container p {
  letter-spacing: normal;
  line-height: 30px;
}
#about-2 i {
  color: #ffc400;
  font-size: 23px;
  margin-right: 20px;
}
#about-2 .icons i {
  color: #000000;
}
#about-2 .container .about-2-text .long-underscore {
  border-bottom: 1px solid rgb(185, 185, 185);
}
.animated-container {
  background-color: bisque;
  background-image: url("/assets/img/skills.jpg");
  /* ČIA DĖL LIVE SERVER RODYMO ŠIOS EILUTĖS*/
  background-image: url("../img/skills.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  margin-bottom: 100px;
}
.animated-container .short-underscore {
  border-bottom: 2px solid rgb(255, 208, 0);
  margin: 0 auto;
  width: 100px;
}
.animated-container h2,
#about-3 .container h2,
#about-facts .container h2 {
  padding-top: 100px;
  color: white;
  text-align: center;
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}
.inline-titles {
  padding-top: 200px;
  text-align: center;
  display: inline;
  margin: 0 auto;
  float: left;
  width: 25%;
}
.animated-container h4 {
  color: white;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 400;
  display: inline;
  padding: 0 50px;
}
.left,
.right {
  float: left;
  width: 50%;
  padding: 30px;
}
#about-2 .container .center {
  text-align: center;
}
#about-2 {
  padding-bottom: 50px;
}
.center {
  text-align: center;
}
.center .button {
  margin: 0 25px;
}
.container .left h4,
.container .right h4 {
  color: #222;
  font-size: 20px;
  font-weight: 400;
  font-family: sans-serif;
}
/* ************************************************* */
/* ABOUT-3 SECTION */
/* ************************************************* */
#about-3 {
  background-image: url("/assets/img/features.jpg");
  /* ČIA DĖL LIVE SERVER RODYMO ŠIOS EILUTĖS*/
  background-image: url("../img/features.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
  height: 900px;
  width: 100%;
  margin-bottom: 60px;
}
#about-3 .container h3 {
  padding-top: 100px;
  font-weight: normal;
}
#about-3 .container h2 {
  padding-top: 10px;
}
#about-3 .container h4 {
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 400;
}
#about-3 .container p {
  color: rgb(197, 197, 197);
  line-height: 1.7;
  font-size: 16px;
}
#about-3 .container i {
  color: #ffc400;
  font-size: 65px;
  margin-right: 20px;
  float: left;
  height: 140px;
  width: 70px;
  text-align: center;
  padding-top: 10px;
}
/* ************************************************* */
/* OUR HISTORY SECTION */
/* ************************************************* */
#our-history .container {
  padding-top: 100px;
  height: 1900px;
}
#our-history {
  height: 2000px;
}
.short-underscore {
  border-bottom: 2px solid rgb(255, 208, 0);
  margin: 0 auto;
  width: 200px;
}
#about-3 .short-underscore {
  margin-bottom: 50px;
}
#our-history .span-box {
  font-size: 20px;
  border: 2px solid none;
  padding: 7px 15px;
  background-color: rgb(0, 116, 72);
  font-weight: bolder;
  color: white;
}
#our-history .vertical {
  padding: 30px 0;
}
/* WTF TAS FLEX */
#our-history .container .gray-box-float {
  height: 300px;
  display: flex;
  align-items: center;
}
#our-history .container .gray-box .mini-box-left:hover {
  background-color: thistle;
}
#our-history .container .gray-box.box-right {
  margin-left: auto;
  order: 2;
}
/* BET IŠGELBĖJO JIS MANE */
#our-history .container .gray-box {
  background-color: rgb(240, 240, 240);
  padding: 0px 30px;
  width: 40%;
}
.line-down {
  width: 1700px;
  height: 1px;
  border-bottom: 2px solid rgb(240, 240, 240);
  position: relative;
  transform: rotate(90deg);
  margin-left: auto;
  margin-right: auto;
  left: -279px;
  right: 0;
  top: 820px;
  text-align: center;
  z-index: -1;
}
.mini-box-left,
.mini-box-right {
  position: relative;
  transform: rotate(45deg);
  height: 30px;
  width: 30px;
  background-color: rgb(240, 240, 240);
  left: 410px;
  top: 60px;
  z-index: -2;
}
.mini-box-right {
  left: -45px;
}
.circle {
  position: relative;
  transform: rotate(45deg);
  height: 30px;
  width: 30px;
  border: 3px solid rgb(240, 240, 240);
  background-color: white;
  border-radius: 100%;
  left: 556px;
  top: 166px;
  z-index: -1;
}
/* ************************************************* */
/* ABOUT FACTS SECTION */
/* ************************************************* */
#about-facts {
  height: 500px;
  background-image: url("/assets/img/statistic-banner.jpg");
  /* ČIA DĖL LIVE SERVER RODYMO ŠIOS EILUTĖS*/
  background-image: url("../img/statistic-banner.jpg");
  background-attachment: fixed;
  background-repeat: repeat;
  background-position: center;
  width: 100%;
  margin-bottom: 60px;
  background-position: 40% 70px;
}
#about-facts .container h3 {
  font-weight: lighter;
  padding-top: 70px;
  font-size: 30px;
}
#about-facts .container h2 {
  padding: 10px 0;
}
#about-facts .container .inline-titles {
  color: white;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 50px;
}
#about-facts .container .inline-titles .num {
font-size: 80px;
padding-bottom: 20px;
}
