body {
  background-color: rgb(255, 225, 144);
  height: 1000px;
}
.first-div{
  padding-top: 15px;
  margin-left: 150px;
  width: 250px;
  height: 230px;
  background-color: rgba(0, 255, 255, 0.116);
  text-align: center;
  color: white;
}
.second-div span{
color: indigo;
}
.second-div{
  margin-left: 50px;
  border: 1px solid plum;
  width: 600px;
  }
/* .second-div p{
  margin-left: 50px;
  border: 1px solid rgb(0, 0, 0);
  width: 100px;
  } */
  button{
    margin: 50px 30px;
  }