body {
  background-color: rgb(255, 225, 144);
  height: 1000px;
}
.first-div{
  padding-top: 15px;
  margin-left: 150px;
  width: 250px;
  height: 230px;
  background-color: rgba(0, 255, 255, 0.116);
  text-align: center;
  color: white;
}